@import 'app';

@font-face {
    src: url(/fonts/andada/Andada-Regular.otf);
    font-family: andada;
}

@font-face {
    src: url(/fonts/andada/AndadaSC-Regular.otf);
    font-family: andada-sc;
}

@font-face {
    src: url(/fonts/andada/AndadaSC-Bold.otf);
    font-family: andada-sc-bold;
}

@font-face {
    src: url(/fonts/source-sans-pro/SourceSansPro-Regular.ttf);
    font-family: source-sans-pro-regular;
}

// fonts
body {
    font-family: source-sans-pro-regular, "Helvetica Neue", sans-serif;
}

td, th {
    font-family: andada-sc, Georgia, serif;
    font-size: 16px;
    line-height: 1.5;
}

// typography
h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.2em;
}

// container
.container {
    margin-top: 3em;
    text-align: center;
}
