@import 'main';

$male-grey: #838A96;
$female-blue: #076cbf;

table {
    margin: 0 auto;
    width: 50%;
    border: 2px solid #fff;
}

table.male {
    background: $male-grey;
    color: #fff;
}

table.female {
    background: $female-blue;
    color: #fff;
}

td, th {
    padding:10px;
    border-bottom: 1px solid #fff;
}

th {
    letter-spacing: 0.3em;
}

tr {
    letter-spacing: 0.1em;
}

button {
    margin-top: 1em;
}

@include media-breakpoint-up(md) {
    table.male {
        float: left;
    }
}
